/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('https://media.istockphoto.com/id/1362746343/vector/retro-poster-for-concept-design-faq-concept-ask-help-neon-sign-vector-background-blue.jpg?s=612x612&w=0&k=20&c=vtSrrCYr2vDvjU_oj2-oGSFkbacvtCJgq7lS0Jcr_B8=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  